# Auto detect text files and perform LF normalization
* text=auto
*.python linguist-detectable=true
*.js linguist-detectable=true
*.html linguist-detectable=false
*.css linguist-detectable=false
*.xml linguist-detectable=false